/*
*
*    fonts.css: FONTS STYLESHEET
*
*/

/*******************
    INCLUDED FONTS
********************/
@font-face 
{
    font-family: rawsans;
    src: url(fonts/RawengulkSans-094.ttf);
}

/****************
    STYLES
*****************/

/********* GENERAL **********/
body { font: 400 15px/1.8; font-family: rawsans; }
h1 { font-size: 80px; font-family: rawsans; }
.list li { font-size: 30px; font-style: italic; }
.section-text { font-size: 40px; }
.shadow { text-shadow: 2px 2px 3px #000000 !important; }

/********* NAVBAR *********/
.navbar 
{ 
    font-family: rawsans, sans-serif; 
    font-size: 15px !important;
    letter-spacing: 3px;
    font-weight: bold;
}

/*FORM*/
#title-form
{
    font-family: 'rawsans', cursive;
	text-transform: uppercase;
	letter-spacing:1px;
}
#title-descriptiom
{
	font-size:18px;
	line-height:1.6em;
}
