@media (max-width: 800px) 
{
    h1 { font-size: 35px; }
    h2 { font-size: 25px; }
    .bg2 { height: 500px; }
    .bg3 { height: 500px; }
    .section-text { font-size: 20px; }
    .list li { font-size: 17px; }
}