html, body
{
  width: 100%;
  height: 100%;
  
}

footer
{
  margin-top: 50px;
  width: 100%;
  height: 200px;
}

ul
{
  list-style-type: none;
}

#preloader
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00A2FF;
  z-index: 99;
  height: 100%;
  width: 100%;
}

#status
{
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../img/preloader.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

.justified { text-align: justify; }
.centered { text-align: center; }

.carousel-inner img 
{
  /*-webkit-filter: grayscale(90%);*/
  /*filter: grayscale(90%); make all photos black and white */ 
  width: 100%; /* Set width to 100% */
  height: auto;
  margin: auto;
}

.navbar 
{
  /*padding-top: 15px;*/
  margin-bottom: 0;
  border: 0;
}
.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
  height: 100%;
  padding: 5px; /* firefox bug fix */
  width: auto;
}
.navbar-nav .active { border-radius: 5px !important; }
.navbar-nav .active a { border-radius: 5px !important; }

.contact-container { margin: 150px; }
.input-group input { border-radius: 100px; }
.input-group div button { border-radius: 100px; }

/***********
    MAIN 
************/

/*PARALLAX BACKGROUNDS*/
.main-container {width: 100%; padding: 0; margin: 0;}
.full-panel 
{
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.in-panel {position: relative;width:970px;margin: 0 auto;min-height: 600px;padding-top:50px}
.in-panel h2{color: #fff; font-size: 30px; background: #fd4c5b;padding:10px 20px; text-transform: uppercase;float:left;margin-bottom: 20px}
.in-panel p{font-size: 20px;margin-bottom:40px;clear:both;}

/*LINES*/
.black-line{ margin:auto; margin-bottom: 2%;  z-index:1;  width:165px;  height:1px; background:#000}
.white-line{ margin:auto; margin-bottom: 2%;  z-index:1;  width:165px;  height:1px;  background:#fff}
.right { margin-right: 0; }
.left { margin-left: 0; }

/****** BODY ******/

/*HEADERS*/
.righth1 { text-align: right; }
.lefth1 { text-align: left; }
.section-text { text-align: justify; }

/*FORM*/
#title-form { margin:0 0 35px 0; }
textarea .form-control { height:100px; }
#title-description { margin:0 0 25px; }

/****** GMAP ******/
.google-map { margin: 70px; }
#map-container 
{ 
  display: inline-block !important; 
  width: 500px !important;
  height: 400px !important;
}
#map
{
  width: 500px;
  height: 400px;
}

/****** SLICK ******/
#imgs-container { text-align: center; }
#imgs-container img
{
    max-width: 100%;
    display: inline-block !important;
}